In [1]:
from sklearn.ensemble import RandomForestRegressor
from sklearn import preprocessing
from sklearn.metrics import roc_auc_score
import pandas as pd
%matplotlib inline
df = pd.read_csv("./RedditShortDemoSurvey-1-Cleaned.csv")

In [5]:
df

,Entry Id,Please indicate your gender.,Please select the category that includes your age.,What is your marital status?,What best describes your employment status?,Are you or have you ever been in military service?,Do you currently have children under the age of 18 living in your household?,What best describes your level of education?,Treated country data,(For U. S. redditors) In which state do you live?,Which one of the following ranges includes your total yearly household income before taxes?,treated subreddit data,Are you a dog or a cat person?,"If you were a cheese, what cheese would you be?",Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,1,Male,25-34,Blank,Employed full time,none,No,Bachelor's degree,United States,New York,"$150,000 or more",getmotivated,none,none,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Male,25-34,Blank,Employed full time,none,No,Bachelor's degree,United States,New York,"$150,000 or more",gaming,none,none,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Female,18-24,Blank,Freelance,none,No,Some college,United States,Virginia,"Under $20,000",snackexchange,none,none,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Male,25-34,Blank,Freelance,none,No,Bachelor's degree,United States,New York,"$150,000 or more",spacedicks,none,none,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Female,25-34,Blank,Employed full time,none,No,Bachelor's degree,United States,California,"$70,000 - $99,999",aww,none,none,NaN,NaN,NaN,NaN,NaN,NaN
5,6,Male,25-34,Married/civil union/domestic partnership,Employed full time,No,No,Bachelor's degree,United States,New York,"$150,000 or more",gaming,I like dogs.,Cheddar,NaN,NaN,NaN,NaN,NaN,NaN
6,7,Male,25-34,In a relationship,Employed full time,No,No,Some college,Germany,NaN,none,python,I like dogs.,Cheddar,NaN,NaN,NaN,NaN,NaN,NaN
7,8,Male,18-24,Married/civil union/domestic partnership,"Not employed, but looking for work",No,No,Bachelor's degree,United States,California,"$70,000 - $99,999",fffffffuuuuuuuuuuuu,I like dogs.,American,NaN,NaN,NaN,NaN,NaN,NaN
8,9,Male,35-44,Married/civil union/domestic partnership,Employed full time,No,No,Bachelor's degree,United States,New York,"$150,000 or more",todayilearned,I like cats.,Provolone,NaN,NaN,NaN,NaN,NaN,NaN
9,10,Male,25-34,In a relationship,Freelance,No,No,Some college,Germany,NaN,"$70,000 - $99,999",NaN,I like cats.,Munster,NaN,NaN,NaN,NaN,NaN,NaN
10,11,Male,18-24,Forever Alone,Not employed and not looking for work,No,No,High school graduate or equivalent,United States,Oregon,"Under $20,000",gaming,I like dogs.,Cheddar,NaN,NaN,NaN,NaN,NaN,NaN
11,12,Male,18-24,In a relationship,Employed full time,No,No,Bachelor's degree,United States,Michigan,"$40,000 - $49,999",machinelearning,I like dogs.,Swiss,NaN,NaN,NaN,NaN,NaN,NaN
12,13,Male,25-34,Forever Alone,Employed full time,No,No,Bachelor's degree,United States,New York,"$50,000 - $69,999",starcraft,I like turtles.,Provolone,NaN,NaN,NaN,NaN,NaN,NaN
13,14,Male,18-24,Forever Alone,Student,No,No,Some college,Romania,NaN,"Under $20,000",NaN,I like cats.,Swiss,NaN,NaN,NaN,NaN,NaN,NaN
14,15,Male,25-34,In a relationship,Employed full time,No,No,Bachelor's degree,United States,Wisconsin,"$50,000 - $69,999",technology,I like dogs.,Provolone,NaN,NaN,NaN,NaN,NaN,NaN
15,16,Male,18-24,In a relationship,Student,No,No,Some college,United States,California,"Under $20,000",askreddit,I like cats.,Cheddar,NaN,NaN,NaN,NaN,NaN,NaN
16,17,Female,25-34,In a relationship,Employed full time,No,No,Some college,United States,Maryland,"$50,000 - $69,999",twoxchromosomes,I like cats.,Goat,NaN,NaN,NaN,NaN,NaN,NaN
17,18,Male,35-44,Single,Not employed and not looking for work,No,No,Graduate or professional degree,United Kingdom,NaN,"Under $20,000",aww,I like cats.,Goat,NaN,NaN,NaN,NaN,NaN,NaN
18,19,Male,25-34,Single,Employed full time,No,No,Graduate or professional degree,Republic of Ireland,NaN,"$40,000 - $49,999",askscience,I like cats.,Feta,NaN,NaN,NaN,NaN,NaN,NaN
19,20,Male,25-34,In a relationship,Employed full time,No,No,Bachelor's degree,United States,California,"$70,000 - $99,999",android,I like dogs.,Feta,NaN,NaN,NaN,NaN,NaN,NaN
20,21,Male,45-54,Married/civil union/domestic partnership,Freelance,No,Yes,High school graduate or equivalent,France,NaN,"Under $20,000",motorcycles,I like dogs.,Cheddar,NaN,NaN,NaN,NaN,NaN,NaN
21,22,Male,Under 18,Forever Alone,Student,No,Yes,High school graduate or equivalent,United Kingdom,NaN,"$100,000 - $149,999",anarchism,I like turtles.,Swiss,NaN,NaN,NaN,NaN,NaN,NaN
22,23,Male,18-24,Single,Employed full time,No,No,High school graduate or equivalent,Germany,NaN,"$100,000 - $149,999",truereddit,I like cats.,Other,NaN,NaN,NaN,NaN,NaN,NaN
23,24,Male,55-64,Forever Alone,Employed full time,Yes,No,Trade or Vocational degree,Canada,NaN,"$40,000 - $49,999",atheism,I like cats.,Feta,NaN,NaN,NaN,NaN,NaN,NaN
24,25,Male,45-54,Married/civil union/domestic partnership,Freelance,No,No,Some college,Germany,NaN,"$150,000 or more",new,I like turtles.,Other,NaN,NaN,NaN,NaN,NaN,NaN
25,26,Female,25-34,Single,Student,No,No,Graduate or professional degree,United States,California,"Under $20,000",adviceanimals,I like dogs.,Brie,NaN,NaN,NaN,NaN,NaN,NaN
26,27,Male,25-34,Forever Alone,Employed full time,No,No,Bachelor's degree,United States,Pennsylvania,"$50,000 - $69,999",programming,I like dogs.,Cheddar,NaN,NaN,NaN,NaN,NaN,NaN
27,28,None,25-34,In a relationship,"Not employed, but looking for work",No,No,Graduate or professional degree,United States,Arkansas,"Under $20,000",askscience,I like dogs.,Brie,NaN,NaN,NaN,NaN,NaN,NaN
28,29,Male,18-24,Single,Employed full time,No,No,Some college,United States,North Carolina,"$20,000 - $29,999",pics,I like dogs.,Swiss,NaN,NaN,NaN,NaN,NaN,NaN
29,30,Female,18-24,Forever Alone,Student,No,No,Some college,United States,Minnesota,none,NaN,I like dogs.,American,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32724,32727,Male,18-24,In a relationship,Student,No,No,Some college,United States,California,"$30,000 - $39,999",starcraft,I like dogs.,Provolone,NaN,NaN,NaN,NaN,NaN,NaN
32725,32728,Male,25-34,Married/civil union/domestic partnership,Employed full time,No,Yes,Some college,United States,California,"$100,000 - $149,999",NaN,I like dogs.,Other,NaN,NaN,NaN,NaN,NaN,NaN
32726,32729,Male,18-24,Single,Student,No,No,Some college,United States,New Jersey,"$30,000 - $39,999",NaN,I like dogs.,American,NaN,NaN,NaN,NaN,NaN,NaN
32727,32730,Male,18-24,Single,Student,No,No,High school graduate or equivalent,Belgium,NaN,"Under $20,000",pics,I like cats.,Other,NaN,NaN,NaN,NaN,NaN,NaN
32728,32731,Female,18-24,In a relationship,"Not employed, but looking for work",No,No,Bachelor's degree,United States,North Carolina,"$50,000 - $69,999",questions,I like turtles.,Swiss,NaN,NaN,NaN,NaN,NaN,NaN
32729,32732,Male,Under 18,Single,Student,No,No,Some high school,United States,California,"$30,000 - $39,999",starcraft,I like dogs.,Swiss,NaN,NaN,NaN,NaN,NaN,NaN
32730,32733,Male,18-24,Single,Freelance,No,No,High school graduate or equivalent,United States,California,"$100,000 - $149,999",fffffffuuuuuuuuuuuu,I like cats.,Cheddar,NaN,NaN,NaN,NaN,NaN,NaN
32731,32734,Female,25-34,Engaged,None,No,No,Associate degree,none,NaN,"$40,000 - $49,999",NaN,I like dogs.,Cheddar,NaN,NaN,NaN,NaN,NaN,NaN
32732,32735,Male,18-24,Single,Student,No,No,High school graduate or equivalent,Canada,NaN,"$150,000 or more",NaN,I like dogs.,Goat,NaN,NaN,NaN,NaN,NaN,NaN
32733,32736,Female,25-34,In a relationship,Employed full time,No,No,Bachelor's degree,United States,Minnesota,"$40,000 - $49,999",NaN,I like turtles.,Brie,NaN,NaN,NaN,NaN,NaN,NaN
32734,32737,Female,Under 18,Single,None,Yes,No,Some high school,United States,Tennessee,"Under $20,000",fffffffuuuuuuuuuuuu,I like cats.,Feta,NaN,NaN,NaN,NaN,NaN,NaN
32735,32738,Female,18-24,Married/civil union/domestic partnership,Employed full time,No,No,Bachelor's degree,United States,South Carolina,"$30,000 - $39,999",pics,I like cats.,Provolone,NaN,NaN,NaN,NaN,NaN,NaN
32736,32739,Male,18-24,Married/civil union/domestic partnership,"Not employed, but looking for work",Yes,No,Bachelor's degree,United States,South Carolina,"$20,000 - $29,999",iama,I like cats.,Paneer,NaN,NaN,NaN,NaN,NaN,NaN
32737,32740,Male,18-24,Forever Alone,Employed full time,Yes,No,Associate degree,United States,Colorado,"$30,000 - $39,999",netsec,I like turtles.,Munster,NaN,NaN,NaN,NaN,NaN,NaN
32738,32741,Male,25-34,Single,Employed full time,No,No,Some college,australia,NaN,"$50,000 - $69,999",NaN,I like turtles.,Brie,NaN,NaN,NaN,NaN,NaN,NaN
32739,32742,Male,Under 18,Single,Student,No,No,High school graduate or equivalent,United States,Texas,"$50,000 - $69,999",shutupandtakemymoney,I like cats.,American,NaN,NaN,NaN,NaN,NaN,NaN
32740,32743,Male,18-24,Single,Student,No,No,Graduate or professional degree,United States,New York,"Under $20,000",math,I like dogs.,Provolone,NaN,NaN,NaN,NaN,NaN,NaN
32741,32744,Male,Under 18,Forever Alone,Student,Yes,Yes,Some high school,United States,New York,none,gurrenlagann,I like cats.,American,NaN,NaN,NaN,NaN,NaN,NaN
32742,32745,Male,18-24,In a relationship,Student,No,No,Some college,Australia,NaN,"$50,000 - $69,999",pics,I like dogs.,Cheddar,NaN,NaN,NaN,NaN,NaN,NaN
32743,32746,Male,18-24,In a relationship,Student,No,No,Some college,United States,New Jersey,"$20,000 - $29,999",askreddit,I like cats.,Other,NaN,NaN,NaN,NaN,NaN,NaN
32744,32747,Male,Under 18,In a relationship,Freelance,No,Yes,Some high school,United States,Massachusetts,"$40,000 - $49,999",firstworldproblems,I like turtles.,American,NaN,NaN,NaN,NaN,NaN,NaN
32745,32748,Male,45-54,Single,Employed full time,No,No,Associate degree,United States,Michigan,"$20,000 - $29,999",NaN,I like cats.,Brie,NaN,NaN,NaN,NaN,NaN,NaN
32746,32749,Male,Under 18,Single,Student,No,None,Some high school,Canada,NaN,"$50,000 - $69,999",funny,I like cats.,Swiss,NaN,NaN,NaN,NaN,NaN,NaN
32747,32750,Male,25-34,In a relationship,Freelance,No,No,Bachelor's degree,United States,Virginia,"Under $20,000",NaN,I like cats.,Cheddar,NaN,NaN,NaN,NaN,NaN,NaN
32748,32751,Male,25-34,In a relationship,Employed full time,Yes,No,Bachelor's degree,japan,NaN,"$150,000 or more",NaN,I like dogs.,Provolone,NaN,NaN,NaN,NaN,NaN,NaN
32749,32752,Female,18-24,Single,Student,No,No,High school graduate or equivalent,Denmark,NaN,"Under $20,000",NaN,I like cats.,Feta,NaN,NaN,NaN,NaN,NaN,NaN
32750,32753,Male,35-44,Married/civil union/domestic partnership,Employed full time,No,No,Bachelor's degree,united kingdom,NaN,none,maps,I like turtles.,Other,NaN,NaN,NaN,NaN,NaN,NaN
32751,32754,Male,18-24,In a relationship,Employed full time,No,No,Graduate or professional degree,United Kingdom,NaN,"$20,000 - $29,999",funny,I like cats.,Other,NaN,NaN,NaN,NaN,NaN,NaN
32752,32755,Male,35-44,In a relationship,Employed full time,No,Yes,Bachelor's degree,United States,Indiana,"$100,000 - $149,999",NaN,I like cats.,Swiss,NaN,NaN,NaN,NaN,NaN,NaN
32753,32756,Male,18-24,Married/civil union/domestic partnership,Employed full time,No,No,Some college,United States,Ohio,"$20,000 - $29,999",fffffffuuuuuuuuuuuu,I like cats.,Cheddar,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.describe()

           Entry Id
count  32754.000000
mean   16378.561916
std     9456.272427
min        1.000000
25%     8189.250000
50%    16379.500000
75%    24567.750000
max    32756.000000